{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;

}

.app_postsRight{
  margin-left: 20px;
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray; 
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  
}
.app_headerImage{
  object-fit: contain;
  width: 5%;
}

.app_signup{
  display: flex;
  flex-direction: column;

}
