.post{
    background-color: white; 
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post_image{
    width: 92%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;

}

.post_text{
    font-weight: normal;
    padding: 20px;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;
}

.post_commentBox{
    display: flex;
    margin-top: 10px;
}

.post_comments{
    padding: 20px;
    
}

.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgrays;

}

.post_button{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
    
}